#configuration files, created from template files
.env
reverse-proxy/traefik.toml
jupyterhub/context/jupyterhub_config.py
jupyterhub/context/bootstrap.sh

# secret files
secret/

# backups
backups/

# tests and temporary files
tmp/ 

# Zone.Identifier Files - created when copying from Windows to WSL filestructure
*Zone.Identifier

