#configuration files, created from template files
.env
reverse-proxy/traefik.toml

# secret files
secret/

# backups
backups/

# tests and temporary files
tmp/ 

# Zone.Identifier Files - created when copying from Windows to WSL filestructure
*Zone.Identifier
